<%= form_for(@genre, html: {class: "form-horizontal", style: "padding-left: 25px"}) do |f| %>
  <% if @genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
      <% @genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "control-label" %><br>
    <div class="col-sm-6">
      <%= f.text_field :name, class: "form-group" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
